#navBar {
  border: black;
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  height: 40px;
  margin-bottom: 1%;
}

button {
  /* float: right; this works but flows out of parent */
  margin-left: 1%;
}
