#button-bar {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button.button-bar-button {
  height: 40px;
  margin: 0px 20px;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
  background-color: #f9f1ef;
  border: 0px;
}

button.button-bar-button:hover {
  font-weight: bold;
  font-size: 25px;
  color: #BC4639;
}

#itemsListContainer {
  margin: 25px;
  margin-top: 10px;
  font-family: 'Nunito Sans';
}

table {
  width: 100%;
  border: 1px solid #8E8D8A;
  height: auto;
  border-collapse: collapse;
  input[type=submit]:hover
}

/* table headers */
th {
  font-size: 15px;
  color: #f9f1ef;
  padding: 5px 8px;
  text-align: left;
  background-color: rgb(188, 70, 57, 0.7);
  border: 1px solid #8E8D8A;
}

th:hover {
  cursor: pointer;
}

/* columns */
td {
  border-right: 1px solid #8E8D8A;
  border-left: 1px solid #8E8D8A;
  padding: 5px 8px;
  color: #282828;
}

/* rows */
tr {
}

tr:nth-child(odd) {
  background-color: rgb(233, 128, 116, 0.2)
}

tr:hover {
  cursor: pointer;
  font-weight: bold;
}
