#button-bar {
  border-bottom: 1px solid black;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button.button-bar-button {
  height: 40px;
  margin: 0px 10px;
  font-size: 15px;
  font-family: 'Nunito Sans';
  border-radius: 6px;
}

button.button-bar-button:hover {
  font-weight: bold;
}

#itemsListContainer {
  margin: 0px 10px;
}

table {
  width: 100%;
  border-bottom: 1px solid black;
  height: auto;
  border-collapse: collapse;
  background-color: rgb(241, 241, 241, 0.5);
}

/* table headers */
th {
  font-size: 20px;
  padding: 1px 6px;
  text-align: left;
  background-color: rgb(241, 241, 241, 0.8);
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

th:hover {
  cursor: pointer;
}

/* columns */
td {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 1px 6px;
}

/* rows */
tr {
}

tr:hover {
  cursor: pointer;
  font-weight: bold;
}
