#itemsListContainer {
}

#itemsListTable {
  width: 100%;
  border: black;
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  height: auto;
}

th:hover {
  cursor: pointer;
}

#tableHeader {
  text-align: left;
  background-color: #f1f1f1;
}

#top {
  padding: 10px;
}
